{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'main/css/pages/contacts.css' %}">
{% endblock %}

{% block title %}Контакты - Отель{% endblock %}

{% block content %}
<div class="contacts-page">
    <h1>Наши контакты</h1>
    <div class="contacts-grid">
        {% if contacts %}
            {% for contact in contacts %}
            <div class="contact-card">
                {% if contact.photo %}
                <div class="contact-photo">
                    <img src="{{ contact.photo.url }}" alt="{{ contact.name }}">
                </div>
                {% endif %}
                <div class="contact-info">
                    <h2>{{ contact.name }}</h2>
                    <p class="position"> <u>{{ contact.position }}</u></p>
                    <p class="description">{{ contact.description }}</p>
                    <div class="contact-details">
                        <p><strong>Телефон:</strong> {{ contact.phone_number }}</p>
                        <p><strong>Email:</strong> {{ contact.email }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p class="no-data">Информация о контактах скоро появится.</p>
        {% endif %}
    </div>
</div>
{% endblock %} 