{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'main/css/pages/faq.css' %}">
{% endblock %}

{% block title %}Словарь терминов - Отель{% endblock %}

{% block content %}
<div class="faq-page">
    <h1 class="text-center">Часто задаваемые вопросы</h1>
    <div class="faq-list">
        {% if faqs %}
            {% for faq in faqs %}
            <div class="faq-item">
                <details>
                    <summary>{{ faq.question }}</summary>
                    <div class="answer">
                        {{ faq.answer|linebreaks }}
                    </div>
                    <div class="faq-meta">
                        <span class="date">Добавлено: {{ faq.created_at|date:"d.m.Y" }}</span>
                    </div>
                </details>
            </div>
            {% endfor %}
        {% else %}
            <p class="text-center">В данный момент словарь терминов пуст.</p>
        {% endif %}
    </div>
</div>

<div class="preloader">
    <div class="dots-loader">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>
{% endblock %} 